<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xianchao.com.practice">

    <uses-permission
        android:name="android.permission.BIND_JOB_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jobscheduler.JobSchedulerActivity" />

        <service
            android:name=".jobscheduler.PracticeJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".alarmManager.PracticeAlarmActivity" />

        <receiver android:name=".alarmManager.AlarmEventReceiver">
            <intent-filter>
                <action android:name="self_borad_cast" />
            </intent-filter>
        </receiver>

        <activity android:name=".workmanager.WorkManagerActivity" />
        <activity android:name=".socket.SocketPracticeActivity" />
        <activity android:name=".ArchitectureComponents.ArchitecturePracticeActivity"></activity>
    </application>

</manifest>